{% extends 'general/base.html' %}



{% block head %}
<title>Login</title>
{% endblock %}


{% block body %}

	{% if request.user.is_authenticated %}
		<div class="text-center">
		<h3>{{message}}</h3>	
		<h2>Here is your {{premium}} content</h2>
		
	{% else %}
		<div class="text-center">
		<h2>{{message}}</h2>
		</div>

	
				<div class='col-sm-6 col-12'> 
					<form method="POST">
						{% csrf_token %}
						{{form}}
						<br>
						<button type="submit" class="btn btn-info">Submit</button>

					</form>
				</div>


	{% endif %}


{% endblock %}